
body{
    font-family: Hei;
}
#shuffleArea{
    background-position: center top;
    text-align: center;
    vertical-align: center;
    padding: 30px;
    padding-top: 150px;
    padding-bottom:150px;
    height: 100px;
    width: 600px;
    font-size:80px;
    font-style: bold;
    background: url(http://cdn.vectorstock.com/i/composite/88,20/cupcake-background-pink-wallpaper-banner-vector-768820.jpg);

    margin-bottom: 10px;
}
.buttons{

    width: 300px;
    padding: 20px;
    background-color: hotpink;
    font-size: 50;
}
#add{

    padding: 20px;
    background-color: white;
    font-size: 30;
    margin-bottom: 10px;
}
#myMenu{
    height: 100px;
    width:660px;
    font-size: 15px;
    margin-bottom: 10px;
}
